.footer {
  padding: 4rem 7rem;
  background-image: linear-gradient(
      to left bottom,
      rgba(#ba68c8, 0.3),
      rgba(#ba68c8, 0.7)
    ),
    url(../../assets/footer.png);
  height: 15rem;
}
