.testimony {
  padding: 4rem;
  &-header {
    display: inline-block;
    margin: 0 auto;
    width: 37%;
    box-shadow: 0.4rem 0.5rem 2rem rgba(0, 0, 0, 0.068);
  }

  &__box {
    padding: 1rem 2rem;
    color: #fff;
    box-shadow: 0.4rem 0.3rem 1rem rgba(0, 0, 0, 0.144);
    border-radius: 0.4rem;

    &--header {
      padding: 1rem 2rem;
      background-color: #7575755b;
    }

    &--image {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    &--details {
      padding: 0.2rem 0.6rem;
      font-size: 1.1rem;
    }
  }

  &__header--left {
    height: 7rem;
    width: 30%;
    display: inline-block;
  }
  &__header--right {
    width: 70%;
    display: inline-block;
  }
}
