*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.7;
  color: #a1887f;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

//TYPOGRAPHY

.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  color: #ba68c8;
  padding: 2rem 3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.paragraph-primary {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  padding: 2rem 3rem;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ba68c8;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.paragraph-secondary {
  font-size: 1.1rem;
  font-weight: 200;
  color: #000;
  padding: 0.3rem 1rem;
}

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 300;
  color: #757575;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

// UTILITY CLASSES

.u-mb-small {
  margin-bottom: 2rem;
}
.u-mb-mini {
  margin-bottom: 4rem;
}
.u-mb-big {
  margin-bottom: 6rem;
}

.u-center-text {
  text-align: center;
}

//GRID

.row {
  max-width: 114rem;
  margin: 0 auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

[class^="col-1-of-3"]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 7rem) / 2);
  float: left;
}
.col-1-of-3 {
  width: calc((100% - 14rem) / 3);
  float: left;
}

.col-1-of-5 {
  width: calc((100% - 1rem) / 5);
  float: left;
}
.col-3-of-5 {
  width: calc(3 * (100% - 1rem) / 5);
  float: left;
}

a {
  text-decoration: none !important;
  &:active {
    color: #000;
  }
}
